.guten-form-input {
  padding-top: 10px;
  padding-bottom: 10px;

  .input-helper {
    display: block;
  }

  .input-label {
    font-weight: 600;
    color: $form-bg-txt-color;
    font-size: $label-font-size;
    line-height: $line-height-base;
    margin-bottom: 5px;
    text-transform: normal;
    letter-spacing: 0;
    display: inline-block;
  }

  .required-badge {
    color: $error-border-color;
  }

  .input-helper {
    font-size: 0.9em;
    margin-top: 3px;
    opacity: 0.7;
    clear: both;
    font-weight: 400;
    color: $color-grey-400;
  }

  .gutenverse-input {
    width: 100%;
    max-width: 100%;
    padding: $input-padding;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    background: 0 0;
    background-color: var(--guten-form-bg-color);
    border-color: var(--guten-form-border-color);
    color: var(--guten-form-txt-color);
    box-shadow: none;
    box-sizing: border-box;
    -webkit-transition: all $transition-base;
    transition: all $transition-base;
    font-size: var(--guten-form-font-size);
    line-height: $line-height-base;
    outline: 0;

    &::placeholder {
      color: var(--guten-form-placeholder-color);
    }

    &:focus {
      box-shadow: none;
      border-color: var(--guten-form-border-focus);
    }
  }

  &.hide-label {
    .label-wrapper {
      display: none;
    }

    .main-wrapper {
      width: 100%;
    }
  }

  .validation-error {
    display: none;
    color: $error-border-color;
    font-style: italic;
    font-size: 14px;
  }

  &.input-invalid {
    input {
      border-color: $error-border-color;
    }
    textarea{
      border-color: $error-border-color;
    }
    .validation-error {
      display: block;
    }
    .empty-value {
      .validation-error {
        display: none;
      }
    }
  }
}

.guten-form-input {
  .main-wrapper {
    position: relative;

    .empty-value-popup {
      position: absolute;
      background-color: rgb(255, 255, 255);
      border: 4px solid #00bfb6;
      padding: 20px;
      z-index: 9999;

      &::before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #00bfb6;
        right: 50%;
        top: -23px;
      }
      
      &::after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #fff;
        right: 50%;
        top: -18px;
      }
    }
  }
}

.guten-input-position- {
  &left {
    display: flex;

    .label-wrapper {
      width: 20%;
    }

    .main-wrapper {
      flex-grow: 1;
    }
  }
}
