.guten-form-input-file{
  .file-input-wrapper{
    .input-wrapper{
      display: flex;
      align-items: center;
      gap: 10px;
      .file-button{
        padding: 5px 10px;
        background: lightgrey;
        border-radius: 2px;
        font-size: 10px;
        cursor: pointer;
        transition: all .3s ease;
        display: flex;
        gap: 10px;
        align-items: center;

        &:hover{
          background: rgb(181, 181, 181);
        }

        i{
          line-height: normal;
        }
      }
    }
  }
}