# Folders to ignore
.idea
build
vendor
release
node_modules
gutenverse-form/block
gutenverse-form/assets/js
gutenverse-form/assets/css
gutenverse-form/lib/dependencies

# Files to ignore
package-lock.json
gutenverse-form.pot