.guten-form-input {
    .gutenverse-input-textarea {
        height: 180px;
    }
}

.guten-form-input-textarea {
    .main-wrapper {
        .input-icon-wrapper {
            align-items: flex-start;
        }
    }
}

.input-icon-wrapper.input-textarea {
    display: flex;
    align-items: center;
    padding: 8px;

    .form-input-textarea-icon {
        margin: 0 8px;

        &.type-image {
            .icon {
                overflow: hidden;
            }
        }

        &.type-icon {
            .icon {
                align-items: center;
                display: flex;
                overflow: hidden;
            }
        }

        .icon.style-gradient {
            i {
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
            }
        }
    }

    .gutenverse-input-text {
        padding: 0 !important;
        margin: 0 !important;
        border: none !important;
        border-radius: unset !important;
        box-shadow: none !important;

        &:focus, &:focus-visible {
            outline: none !important;
        }
    }
}