@import "../../../../assets/form.scss";

.input-warning {
  font-size: 14px !important;
  background: red;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.is-editing-disabled {
  .input-warning {
    display: none;
  }
}

.guten-post-content.guten-element {
    .components-disabled {
        .input-warning {
          display: none;
        }
    }
}