.block-editor-block-list__layout.is-root-container > .guten-form-builder {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.input-warning {
  font-size: 14px !important;
  background: red;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.is-editing-disabled {
  .input-warning {
    display: none;
  }
}

.guten-post-content.guten-element {
    .components-disabled {
        .input-warning {
          display: none;
        }
    }
}

.guten-flex-container-editor,
.guten-inner-container-editor {
    > .guten-form-builder {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}