.guten-form-builder {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    &.pinned {
        position: sticky;

        &.fixed {
            position: fixed;
        }

        &.sticky-top {
            top: 0;
        }

        &.sticky-bottom {
            bottom: 0;
        }
    }

    .form-notification {
        width: 100%;

        .notification-body {
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;

            &.guten-success {
                color: #4f8a10;
                background-color: #dff2bf;
            }

            &.guten-error {
                color: #d8000c;
                background-color: #ffd2d2;
            }
        }
    }
}


.guten-flex-container,
.guten-inner-container {
    > .guten-form-builder {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}