/* Frontend styles */
@import "style";

.guten-form-builder {
  .components-button {
    box-shadow: none;
    border: 1px dashed #505050;
  }
}

.guten-element.guten-button-wrapper.guten-submit-wrapper {
  max-width: none !important;
}
