.guten-form-input {
	&.input-invalid {
		.choices {
			&__inner {
				border-color: var(--guten-error-text-color);
			}
		}
	}

	.choices__list--multiple {
		.choices__item {
			color: var(--guten-txt-alt-color);
		}
	}

	.choices__list,
	.choices__list--dropdown {
		z-index: 99;
	}

	.choices[data-type*="select-one"] {
		.choices__input {
			display: none;
		}

		.choices__button {
			background-image: none;
			mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIxIDIxIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im0yLjU5Mi4wNDQgMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NCAxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
			mask-size: 8px;
			mask-repeat: no-repeat;
			mask-position: center;
			-webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDIxIDIxIj48ZyBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im0yLjU5Mi4wNDQgMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NCAxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
			-webkit-mask-size: 8px;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			background-color: black;
		}
	}

	.choices {
		margin-bottom: 0;

		&__inner {
			background-color: var(--guten-form-bg-color);
			border-color: var(--guten-form-border-color);
		}

		&__input {
			background-color: var(--guten-form-bg-color);
			border: none;
			box-shadow: none;
			font-size: var(--guten-form-font-size);

			&:focus {
				box-shadow: none;
				border: none;
			}

			&::placeholder {
				color: var(--guten-form-placeholder-color);
			}
		}

		&__item {
			color: var(--guten-form-txt-color);
			font-size: var(--guten-form-font-size);
		}

		&__placeholder {
			color: var(--guten-form-placeholder-color);
			opacity: 1;
			font-size: var(--guten-form-font-size);
		}

		&__button {
			padding: 1px 6px 1px 16px;
		}

		&__list--single {
			padding: 0;
		}
	}
}

.choices.custom-dropdown {
	.choices__inner {
		position: relative;

		i,
		svg {
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			color: #555;
			transition: color 0s;
		}
	}

	&::after {
		display: none;
	}
}