.guten-form-input {
	&.input-invalid {
		.choices {
			&__inner {
				border-color: var(--guten-error-text-color);
			}
		}
	}

	.choices__list--multiple {
		.choices__item {
			color: var(--guten-txt-alt-color);
		}
	}

	.choices__list,
	.choices__list--dropdown {
		z-index: 99;
	}

	.choices[data-type*="select-one"] .choices__input {
		display: none;
	}

	.choices {
		margin-bottom: 0;

		&__inner {
			background-color: var(--guten-form-bg-color);
			border-color: var(--guten-form-border-color);
		}

		&__input {
			background-color: var(--guten-form-bg-color);
			border: none;
			box-shadow: none;
			font-size: var(--guten-form-font-size);

			&:focus {
				box-shadow: none;
				border: none;
			}

			&::placeholder {
				color: var(--guten-form-placeholder-color);
			}
		}

		&__item {
			color: var(--guten-form-txt-color);
			font-size: var(--guten-form-font-size);
		}

		&__placeholder {
			color: var(--guten-form-placeholder-color);
			opacity: 1;
			font-size: var(--guten-form-font-size);
		}

		&__button {
			padding: 1px 6px 1px 16px;
		}

		&__list--single {
			padding: 0;
		}
	}
}

/* guten-TNZn2h */
// .guten-TNZn2h .main-wrapper .choices__inner {
// 	padding-top: 20px;
// 	padding-right: 20px;
// 	padding-bottom: 20px;
// 	padding-left: 20px;
// }
// .guten-TNZn2h
// 	.main-wrapper
// 	.choices__list.choices__list--dropdown
// 	.choices__item.choices__item--selectable.choices__placeholder,
// .guten-TNZn2h
// 	.main-wrapper
// 	.choices__inner
// 	.choices__placeholder:not(.choices__item--choice) {
// 	color: rgba(199, 79, 79, 1);
// }
// .guten-TNZn2h .choices__inner {
// 	background-color: rgba(251, 251, 21, 1);
// }
// .guten-TNZn2h .choices__placeholder,
// .guten-TNZn2h .choices__item,
// .guten-TNZn2h .choices__input {
// 	font-family: var(--gutenverse-font-family-lDacBN);
// 	font-size: var(--gutenverse-font-size-lDacBN);
// 	line-height: var(--gutenverse-font-lineHeight-lDacBN);
// 	font-weight: var(--gutenverse-font-weight-lDacBN);
// 	text-transform: var(--gutenverse-font-transform-lDacBN);
// 	font-style: var(--gutenverse-font-style-lDacBN);
// 	text-decoration: var(--gutenverse-font-decoration-lDacBN);
// 	letter-spacing: var(--gutenverse-font-spacing-lDacBN);
// }
// .guten-TNZn2h .choices .choices__list.choices__list--dropdown .choices__item {
// 	background-color: rgba(13, 255, 198, 1);
// }
// .guten-TNZn2h .choices .choices__inner,
// .guten-TNZn2h .choices .choices__list.choices__list--dropdown {
// 	border-style: solid;
// 	border-radius: 30px 30px 30px 30px;
// }
// .guten-TNZn2h .choices .choices__inner,
// .guten-TNZn2h .choices .choices__list.choices__list--dropdown {
// 	box-shadow: 20px 0px 0px rgba(154, 54, 54, 1);
// }
// .guten-TNZn2h
// 	.main-wrapper
// 	.choices__list.choices__list--dropdown
// 	.choices__item.choices__item--selectable {
// 	padding-top: 20px;
// 	padding-right: 20px;
// 	padding-bottom: 20px;
// 	padding-left: 20px;
// }
// .guten-TNZn2h
// 	.main-wrapper
// 	.choices__list.choices__list--dropdown
// 	.choices__item.choices__item--selectable {
// 	margin-top: 10px;
// 	margin-right: 10px;
// 	margin-bottom: 10px;
// 	margin-left: 10px;
// }
// .guten-TNZn2h
// 	.main-wrapper
// 	.choices__list.choices__list--dropdown
// 	.choices__item.choices__item--selectable {
// 	background-color: rgba(13, 255, 198, 1);
// }
// .guten-TNZn2h
// 	.main-wrapper
// 	.choices__list.choices__list--dropdown
// 	.choices__item.choices__item--selectable {
// 	border-style: solid;
// 	border-width: 1px;
// 	border-color: rgba(0, 0, 0, 1);
// 	border-radius: 10px 10px 10px 10px;
// }
// @media only screen and (max-width: 1024px) {
// 	.guten-TNZn2h .choices__placeholder,
// 	.guten-TNZn2h .choices__item,
// 	.guten-TNZn2h .choices__input {
// 		font-size: var(--gutenverse-font-size-lDacBN);
// 		line-height: var(--gutenverse-font-lineHeight-lDacBN);
// 		letter-spacing: var(--gutenverse-font-spacing-lDacBN);
// 	}
// }
// @media only screen and (max-width: 767px) {
// 	.guten-TNZn2h .choices__placeholder,
// 	.guten-TNZn2h .choices__item,
// 	.guten-TNZn2h .choices__input {
// 		font-size: var(--gutenverse-font-size-lDacBN);
// 		line-height: var(--gutenverse-font-lineHeight-lDacBN);
// 		letter-spacing: var(--gutenverse-font-spacing-lDacBN);
// 	}
// }
