@import "gutenverse-core/src/assets/mixin";
@import "gutenverse-core/src/assets/wp-fix";

// Block Editor
@import "../editor/blocks/form-builder/styles/editor";
@import "../editor/blocks/form-input-text/styles/editor";
@import "../editor/blocks/form-input-email/styles/editor";
@import "../editor/blocks/form-input-number/styles/editor";
@import "../editor/blocks/form-input-telp/styles/editor";
@import "../editor/blocks/form-input-date/styles/editor";
@import "../editor/blocks/form-input-select/styles/editor";
@import "../editor/blocks/form-input-multiselect/styles/editor";
@import "../editor/blocks/form-input-textarea/styles/editor";
@import "../editor/blocks/form-input-switch/styles/editor";
@import "../editor/blocks/form-input-checkbox/styles/editor";
@import "../editor/blocks/form-input-radio/styles/editor";
@import "../editor/blocks/form-input-submit/styles/editor";
@import "../editor/blocks/form-input-gdpr/styles/editor";
@import "../editor/blocks/form-input-recaptcha/styles/editor";

// Block Frontend
@import "../editor/blocks/form-builder/styles/style";
@import "../editor/blocks/form-input-text/styles/style";
@import "../editor/blocks/form-input-email/styles/style";
@import "../editor/blocks/form-input-number/styles/style";
@import "../editor/blocks/form-input-telp/styles/style";
@import "../editor/blocks/form-input-date/styles/style";
@import "../editor/blocks/form-input-select/styles/style";
@import "../editor/blocks/form-input-multiselect/styles/style";
@import "../editor/blocks/form-input-textarea/styles/style";
@import "../editor/blocks/form-input-switch/styles/style";
@import "../editor/blocks/form-input-checkbox/styles/style";
@import "../editor/blocks/form-input-radio/styles/style";
@import "../editor/blocks/form-input-submit/styles/style";
@import "../editor/blocks/form-input-gdpr/styles/style";
@import "../editor/blocks/form-input/general/input";
