.gutenverse-recaptcha {
    background: #dddddd99;
    overflow: hidden;
    padding: 30px 0px;
    margin: 10px auto;

    .indicator {
        font-size: 16px;
        color: #777;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.is-editing-disabled {
    .gutenverse-recaptcha {
        background: none;

        .indicator {
            display: none;
        }
    }
}

.guten-post-content.guten-element {
    .components-disabled {
        .gutenverse-recaptcha {
            background: none;

            .indicator {
                display: none;
            }
        }
    }
}